#editNoteTitle{
    width:100%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
::placeholder{
    color: black;
    opacity: 1;
}
input:focus::-webkit-input-placeholder {
    opacity: 0;
}

#page{
    width: 100%!important;
    display: block;
    padding-bottom: 10px;
}
#noteArea{
    width:100%;
    font-size: 18px;
    height: 100%;
}
#deleteNote{
    display: block;
    position:relative;
    margin: 10px auto;
    float:none;
    color:red;
}