#editNoteTitle{
    width:100%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-left:10px;
}
::placeholder{
    color: black;
    opacity: 1;
}
input:focus::-webkit-input-placeholder {
    opacity: 0;
}

#page{
    width: 100%!important;
    display: block;
    padding-bottom: 10px;
}
#noteArea{
    width:100%;
    font-size: 18px;
    height: 100%;
    padding-left:10px;
}
#deleteNote{
    display: block;
    position:relative;
    margin: 10px auto;
    float:none;
    color:red;
}



/*div#banner {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
/**/
/*}*/
div#banner {
    background-color: #DDEEEE;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #000;
}
