#securityQuestionResponse{
    width:80%;
    margin-left: 10%;
    margin-right: 10%;

    border: 1px solid #ebeff0;
    background: #ffffff;
    color: #181818;
    margin: 10px auto 10px auto !important;
    padding: 11px 38px 11px 38px !important;
    font-family: sans-serif;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 17px;
    border-radius: 0px !important;
}

#submitResponse, #resetPassword{
    height: 30px !important;
    width: 75% !important;
    margin: 10px auto 10px auto !important;
}

#forgotPasswordPage, #createPasswordPage{
    height:100%;
    margin-top: 10%;
    text-align: center !important;
}
#questionTwo, #questionThree, #questionFour, #questionFive{
    padding-top: 5px;
}

#responseFive{
    margin-bottom: 25px;
}