#password {
    height: 30px !important;
    width: 75% !important;
    margin: 10px auto 10px auto !important;
}

.container {
    width: 100% !important;
}

#loginForm {
    text-align: center !important;
    margin-top: 30% !important;
}

#loginProgressBar{
    display:block!important;
    margin: 10px auto 10px auto !important;
}

#loginProgressArea{
    display: none;
    width: 100%;
}
.showProgressBar{
    display: block!important;
}
.progressTitle{
    display:block!important;
    margin: 10px auto 10px auto !important;
    font-size: 16px;
}
#loginInfoArea{
    width: 100%;
    text-align: center !important;
}
.hideLoginInfoArea{
    display:none!important;
}


#signIn{
    height: 30px !important;
    width: 75% !important;
    margin: 10px auto 10px auto !important;
}
#percentageText{
    font-size:16px;
}