.displayNone{
    display: none!important;
}

#createPassword, #changePassword{
    height: 30px !important;
    width: 75% !important;
    margin: 10px auto 10px auto !important;
}

#passwordOne, #passwordTwo, #currentPassword{
    width: 75%;
    display: block;
    margin: 10px auto 10px auto !important;
    text-align: center;
    border:solid 1px gray;
}

#loginLogo{
    width: 250px;
    height: 125px;
    align: middle;
    display: block;
    margin: 0 auto 10px auto !important;
}

#loginForm{
    height:100%;
    margin-top: 25%;
    text-align: center !important;
}
.goodPassword{
    /*background-color: green;*/
    color: green!important;
}
.mediumPassword{
    /*background-color: deepskyblue;*/
    color: deepskyblue!important;
}
.badPassword{
    /*background-color: red;*/
    color: red!important;
}

#passwordStrengthBar{
    width:75%;
    height: 30px;
    color: black;
}
#userPasswordPrompt{
    color: red;
}