.displayNone{
    display: none!important;
}

#createPassword, #changePassword{
    height: 30px !important;
    width: 75% !important;
    margin: 10px auto 10px auto !important;
}

#passwordOne, #passwordTwo, #currentPassword{
    width: 75%;
    display: block;
    margin: 10px auto 10px auto !important;
    text-align: center;
    border:solid 1px gray;
}

#currentPassword{
    margin-bottom: 30px!important;
}

#loginLogo{
    width: 250px;
    height: 200px;
    align: middle;
    display: block;
    margin: 0 auto 10px auto !important;
}

#loginForm{
    height:100%;
    margin-top: 10%;
    text-align: center !important;
}
.goodPassword{
    /*background-color: green;*/
    color: green!important;
}
.mediumPassword{
    /*background-color: deepskyblue;*/
    color: deepskyblue!important;
}
.badPassword{
    /*background-color: red;*/
    color: red!important;
}

#passwordStrengthBar{
    width:75%;
    /*height: 30px;*/
    color: black;
}
#userPasswordPrompt{
    color: red;
}
#startupForm{
    height:100%;
    margin-top: 10%;
    text-align: center !important;
}
#section1, #section2, #section3, #section4{
    height:5px;
    width:40px;
    color:green;
}
#passwordStrengthWrapper{
    display:inline-block;
    height:5px;
    width:100%;
}
/*#password-strength-text{*/
    /*font-size:12px;*/
/*}*/

.container{
    background-color: white;
}

#logo{
    margin: 0px auto 10px auto!important;
}

#password-strength-text{
    text-align: left!important;
}
li{
    display:list-item;
    margin-left:25px;
}
#badLength{
    font-weight:bold;
}
#getStarted{
    padding:5px;
    margin-top:10px;
}


meter {
    margin: 0 auto 1em;
    width: 50%;
    height: 0.5em;

    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}
/* Webkit based browsers */
meter[value="0"]::-webkit-meter-optimum-value { background: red; }
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: red; }
meter[value="3"]::-webkit-meter-optimum-value { background: red; }
meter[value="4"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="5"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="6"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="7"]::-webkit-meter-optimum-value { background: yellowgreen; }
meter[value="8"]::-webkit-meter-optimum-value { background: yellowgreen; }
meter[value="9"]::-webkit-meter-optimum-value { background: green; }
meter[value="10"]::-webkit-meter-optimum-value { background: green; }