#loginLogo{
    width: 250px;
    height: 200px;
    align: middle;
    display: block;
    margin: 10px auto 10px auto !important;
}
#password {
    border: 1px solid #ebeff0;
    background: #ffffff;
    color: #181818;
    margin: 10px auto 10px auto !important;
    padding: 11px 38px 11px 38px !important;
    font-family: sans-serif;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 17px;
    border-radius: 0px !important;
    width: 75% !important;
}

.login {
    background: #92ccb6 !important;
    background-color: #008CBA !important;
    height: 30px !important;
    width: 75% !important;
    margin: 10px auto 10px auto !important;
    border-radius: 2px !important;
    padding: none !important;
    color: #FFFFFF;
    border: none;
    box-shadow: 0 1px 0px 1px #bfbfbf;
}

.container {
    width: 100% !important;
    height: 100% !important;
}

.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #952422; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.75s linear infinite;

    margin: 10px auto 10px auto !important;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.primaryButton {
    display: inline-block;

    font-size: 16px;
    color: #fff;
    background-color: #952422;
    border:none;
}
#logo{
    width: 250px;
    height: 200px;
    align: middle;
    display: block;
    margin: 10px auto 10px auto;
}

.hide{
    display:none;
}
/*255 255 255*/

#lockoutSection{
    width:75%;
    padding:15px;
    background-color: #952422;
    margin:auto;
    color:white;
}
hr {
    height: 1px;
    border: 0;
    color: #333;
    background-color: #333;
    width: 80%;
}

#recommendationArea{
    padding-top:10px;
    font-size:14px;
    width:100%;
    padding-left:20%;
    padding-right:20%;
}

#forgotPasswordLink, #privacyPolicyLink{
    text-decoration: underline;
    text-color: #0000EE;
}

#privacyPolicyBlurb{
    padding-top:10px;
    bottom:0;
    padding-bottom:10px;
    text-align:center;
    width:100%;
}